.login-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  h2 {
    text-align: center;
    font-size: 1.5em;
    color: #333;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 1em;
    margin-bottom: 5px;
    display: block;
    color: #555;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="text"].error, input[type="password"].error {
    border-color: red;
  }
  
  .error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    background-color: #890370;
    color: #9f9f9f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #689098;
  }
  