.slider-container {
    padding-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.slider-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
    
}

